:root{
    --orange: #ff6f59;
    --blue: #3b6da7;
    --aqua: #77cdcd;
    --white:#fafafa;
    --red:#c5283d;
}

html, body{
    padding: 0;
    margin: 0;
    size: 12px;
    width: 100%;
    height: 100%;
    background-color: var(--red)
}
h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    color:var(--blue)
}
#logo{
    width: 15%;
    padding: 2% 0 0 ;
    margin:auto;

}
#logo img{
    width: 100%;
    margin: auto;
}
#Header{
    width: 100%;
    height: 90px;
    display: inline-block;
    margin-bottom: 2%;
}
#Header-cont{
    background-color: var(--white);
    width:46%;
    display:inline-block;
    margin: 1% 27% 0 27%;
    position: relative;
    border-radius: 20px;

}
.soundboard{
    padding: 2%;
    padding-bottom: 1%;
    margin: 2%;
    margin-top:0;
    background-color: var(--aqua);
    width: 25%;
    border-radius: 20px;
    float: left;

}
.button-container{
    width:100%;
    height: 90px;
    background-color:var(--white);
    margin-bottom: 20px;
    border-radius: 20px;
}
.button-container:hover{
    box-shadow: 10px 10px 10px grey;
}
.sound-btn{
    margin: 20px;
    float: left;
    background-color: white;   
}
div.doug{
    content:url(img/doug.png);
    height: 80%;
    padding: 0;
    margin: 6px 0 0 6px;
    position: relative;
}
div.heart{
    content:url(img/heart.jpeg);
    height: 80%;
    padding: 0;
    margin: 6px 0 0 6px;
    position: relative;
}
div.movies{
    content:url(img/movies.jpeg);
    height: 80%;
    padding: 0;
    margin: 6px 0 0 6px;
    position: relative;
}
#footer{
    padding:auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;

}
#footer a{
    display: inline-block;
    float: none;
    margin-right:10px;

}
#credits{
    width: 10%;
    padding: 2% 0 2% ;
    margin:auto;
}
#credits img{
    width: 100%;
    margin: auto;
}